@import url('https://fonts.googleapis.com/css2?family=BenchNine&family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-btn {
  position: relative;
  overflow: hidden;
}

.gradient-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #3490dc; /* Set your primary color here */
  transition: width 0.3s ease;
  z-index: -1;
}

.gradient-btn:hover::before {
  width: 100%;
}

.gradient-btn:hover {
  @apply bg-primary text-white transition-all duration-500 ease-in-out;
}


html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  @apply bg-background;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menuItemImgDefault {
  display: none;
}

.grid-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-wrapper > div > span {
  height: 100% !important;
}
.grid-wrapper > div > span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
}

.grid-wrapper {
  display: block;
  grid-gap: 20px;
}

@media (min-width: 600px) {
  .grid-wrapper {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
  }
}
.grid-wrapper .wide {
  grid-column: span 2;
}
.grid-wrapper .tall {
  grid-row: span 2;
}
.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}
.slider-wrapper .slide span {
  height: 100% !important;
}

iframe {
  width: 100%;
  height: 100%;
}

.grad {
  background-image: linear-gradient(
    90deg,
    hsl(119deg 81% 36%) 0%,
    hsl(119deg 80% 38%) 11%,
    hsl(119deg 79% 41%) 22%,
    hsl(119deg 78% 43%) 33%,
    hsl(119deg 77% 45%) 44%,
    hsl(119deg 77% 48%) 56%,
    hsl(119deg 76% 50%) 67%,
    hsl(119deg 83% 53%) 78%,
    hsl(119deg 91% 55%) 89%,
    hsl(119deg 100% 57%) 100%
  );
}
.control-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .control-dots .dot {
  box-shadow: none !important;
  border: 1px solid;
  width: 12px;
  height: 12px;
  @apply border-dark;
}

.carousel .control-dots .dot.selected {
  border: 3px solid;
  @apply border-primary;
}

.modal-container {
  background: #00000099;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.frame {
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 2rem;
  max-width: 972px;
}


.grid-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 275px 275px 275px 275px 275px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . .";
}

@media (max-width: 600px) {
  .grid-gallery {
    grid-template-columns: 1fr 1fr;
	/* auto rows on mobile */
	grid-template-rows: auto auto auto auto auto auto;
	grid-template-areas:
	  ". ."
	  ". ."
	  ". ."
	  ". ."
	  ". ."
	  ". .";
  }
}

.zoom-image {
  transition: transform .5s ease-in-out;
}

.zoom-image:hover {
  transform: scale(1.2);
}

.carousel-wrapper {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;

}

.carousel-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fff;
  @apply h-96 md:h-[600px];
}

.carousel-image-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.carousel-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-content {
  text-align: center;
  z-index: 1;
  @apply text-white;
}

.carousel-title {
  font-size: 24px;
}

.carousel-button {
  padding: 12px 24px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}



.asphault {
	background-color: #e1b35e;
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

footer p, footer h4 {
	@apply text-white;
}

footer h4 {
	@apply font-bold font-display uppercase text-lg md:text-xl lg:text-2xl;
}

footer a {
	@apply text-white font-body font-light ;
}

footer li {
	@apply mb-1;
}

.texture {

background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	@apply font-body font-light ;
}



.sidebybody p {
	@apply text-white text-xl lg:text-2xl xl:text-3xl;
}

.page-hero {
	@apply h-[60vh] lg:h-[85vh];
}

.weddings .slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.white-sideby {
	@apply text-xl lg:text-2xl xl:text-3xl;
}

.event:hover .eventImg {
  transform: scale(1.1);
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}


.about-section .ql-size-large {
	@apply text-3xl lg:text-4xl xl:text-5xl font-bold text-center !text-dark bg-primary w-full block;
}

.about-section h4 {
	@apply text-2xl lg:text-3xl xl:text-4xl font-bold rounded-sm;
}

/* Every other li within ul should be bold starting with the first one */
.about-section ul li:nth-child(odd) {
  @apply font-bold text-xl;
}

.about-section ul li:nth-child(even) {
  @apply mb-2;
}

.about-section p,
.about-section ul li,
.about-section h4 {
	@apply text-white;
}

.tex {
background-color: #c5ab86;
background-image: url("https://www.transparenttextures.com/patterns/crossword.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* display: none the first child inside of .everyday-menu */
.everyday-menu > div:first-child {
  display: none;
}

/* text-align: center the second child inside of .everyday-menu */
.everyday-menu > div:nth-child(2) > div:nth-child(1) h4 {
  text-align: center;
}

/* For all text elements in .weddings-page  */

.weddings-page h4,
.weddings-page h3,
.weddings-page h2,
.weddings-page h1 {
	text-transform: none;
	@apply text-forestGreen font-wedding italic text-5xl sm:text-6xl font-light;
}

.weddings-page p {
	@apply !text-gray-500 text-xl leading-9 font-body font-light;
}

.weddings-page h5 {
	@apply text-gray-500 font-body text-xl font-light uppercase tracking-widest;
}

.weddings-page a {
	@apply text-gray-600 bg-transparent border-forestGreenLight border font-light font-body hover:border-forestGreen hover:text-forestGreen transition-all duration-100 hover:bg-green-50 px-24 py-2;
}

.wedding-form-container h4 {
	@apply text-3xl;
}
.wedding-form-container p {
	@apply text-sm leading-relaxed;
}